

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #2B8872;
  --light-gray:#E8E8E8;
  --extra-light:#FEFEFE;
  --dark-black:#27292D;
  --light-black:#505258;
  --brand-black:#33363F;
  --gray:#E8E8E8;
  --green:#2B8872;
  --primary-hover:#4EA28E;
  --light-green:#03DF84;
}

@layer base{
  @font-face {
    font-family: 'Monument Extended';
    src: url('./fonts/MonumentExtended-Regular.eot');
    src: url('./fonts/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MonumentExtended-Regular.woff2') format('woff2'),
        url('./fonts/MonumentExtended-Regular.woff') format('woff'),
        url('./fonts/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('./fonts/MonumentExtended-Ultrabold.eot');
    src: url('./fonts/MonumentExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('./fonts/MonumentExtended-Ultrabold.woff') format('woff'),
        url('./fonts/MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

  body{
    font-family: "DM Sans", sans-serif;
    color: #33363F;
    overflow-x: hidden
  }
  h3{
    @apply text-3xl font-bold font-display tracking-[5.44px] leading-9;
  }
  h2{
    @apply text-[64px] font-normal font-display;
  }
  p{
    @apply text-2md font-medium text-light-black;
  }
}
.shadow1{
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.05);
}
.textGradient{
  background: var(--Brand-Gradient, linear-gradient(135deg, #02634C 15.86%, #02DE83 62.42%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.bottomLeftBg{
  width: 2313.276px;
height: 749.405px;
transform: rotate(-13.72deg);
flex-shrink: 0;
background: url("../public/img/Ресурс_left_bottom.png");
background-repeat: no-repeat;
background-size: contain;
z-index: -1;
}
.topRightBg{
  width:1133px;
  height: 1749.405px;
  /* transform: rotate(-46.413deg); */
  flex-shrink: 0;
  background: url("../public/img/Ресурс_right_top.png");
  background-repeat: no-repeat;
  background-size: contain;
z-index: -1;
}
.bottomRightBg{
  width:1152px;
  height:1528px;
  flex-shrink: 0;
  background: url("../public/img/Ресурс_3.png");
  background-repeat: no-repeat;
  background-size: contain;
z-index: -1;
}
.howwItBg{
  width:100%;
  height:643px;
  flex-shrink: 0;
  background: url("../public/img/Ресурс 2_1_4.png");
  background-repeat: no-repeat;
  background-size: contain;
z-index: -1;
}
.width-max70{
  @apply max-w-[70%]
}